
<!--{>%extends "base2.html"%}-->
{%block body%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        body{height:fit-content;
            background-color: darkslategrey;
        }
        p{color: hsl(240, 3%, 6%);
            margin: 180px;
            padding: 15px;
            border-radius: 15px;
            font-size: 30px;
            background-color: cyan;
          display: flex;
           }
        h6{font-size: 50px;
            color: darkkhaki;
        margin-left: 420px;}
    </style>
</head>
<body>
    <h6>Atharv's IceCream</h6>
     <p>We bring world class Ice cream for you directly from manifacturer to your home.
         Our job is simply deliver your order at your time and place.
            for any advice or querry kindly visit our any office or fill form in contact us page we will reach you.
     </p>
</body>
</html>
{%endblock body%}
 