{%extends "base2.html"%}
{%block body%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <style>
h1{ margin-left:450px ;
        margin-top: 20px;
        
    }
  body{background-color: darkgray;
  }  </style>
</head>
<body>
    
<h1>Place Your order</h1>
{% csrf_token %}
<form method="POST" action="/contact"

class="row g-3 py-6">
    <div class="col-md-6 m-lg-4">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control"name="email" id="email">
    </div>
    <div class="col-md-6 m-lg-4">
      <label for="inputPassword4" class="form-label">password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <div class="col-12 m-lg-4">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control"name="address" id="address" placeholder="1234 Main St">
    </div>
    <div class="col-12 m-lg-4">
      <label for="inputAddress2" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Your Full Name">
    </div>
    
    <div class="col-md-4 m-lg-4">
      <label for="inputState" class="form-label">Product ID</label>
      <select name="product" id="product" class="form-select">
        <option selected>choose</option>
        <option>1[721]</option>
        <option>2[717]</option>
      </select>
    </div>
    
    <div class="col-12 m-lg-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12 px-md-5">
      <button type="submit" class="btn btn-primary">Place Order</button>
    </div>
  </form>
</body>
</html>
{%endblock body%}
 